.classpath
.project
.settings/
target/
*.ipr
*.iml
*.iws
.idea/
.DS_Store
.clover
*.log
*~
**/gce-credentials.json
**/src/test/resources/large_file

# ci config for local ci build
.circleci/local-config.yml

docker-compose-local*.yml

