version: 2
jobs:
  build:
    docker:
      - image: circleci/openjdk:8-jdk
    working_directory: ~/nexus-blobstore-google-cloud
    environment:
      MAVEN_OPTS: -Xmx3200m
    steps:
      - checkout
      - run: mvn clean package -PbuildKar
      - run:
          name: Save test results
          command: |
            mkdir -p ~/results/test-results/junit/
            find . -type f -regex ".*/target/surefire-reports/.*xml" -exec cp {} ~/results/test-results/junit/ \;
          when: always
      - run:
          name: Save artifacts
          command: |
            mkdir -p ~/results/artifacts/
            find . -type f -regex ".*/target/.*kar" -exec cp {} ~/results/artifacts/ \;
      - store_test_results:
          path: ~/results/test-results
      - store_artifacts:
          path: ~/results
  deploy:
    docker:
      - image: circleci/openjdk:8-jdk
    working_directory: ~/nexus-blobstore-google-cloud
    environment:
      MAVEN_OPTS: -Xmx3200m
    steps:
      - run:
          name: GPG fun times zone
          command: |
            echo ${SECRING_GPG_ASC_BASE64} | base64 --decode | gpg --batch --no-tty --import --yes
      - run: mvn clean deploy -PbuildKar -s .maven.xml -B -U -DskipTests -Prelease

workflows:
  version: 2
  build-deploy:
    jobs:
      - build
      - deploy:
          context: rso
          requires:
            - build
          filters:
            branches:
              only: master
